<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Инфомация о товаре </title>
    <link th:href="@{/css/infoProduct.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<h3>Информация о товаре: </h3>
<div class="button">
    <form method="get" th:action="@{/person_account}">
        <input type="submit" value="Личный кабинет"/>
    </form>
    <form method="get" th:action="@{/cart}">
        <input type="submit" value="Корзина товаров"/>
    </form>
    <form method="get" th:action="@{/orders}">
        <input type="submit" value="Заказы"/>
    </form>
</div>
<div class="container">
    <h4 th:text="'Наименование: '+${product.getTitle()}"></h4>
    <p th:text="'Описание: '+${product.getDescription()}"></p>
    <p th:text="'Цена: '+${product.getPrice()}"></p>
    <p th:text="'Склад: '+${product.getWarehouse()}"></p>
    <p th:text="'Продавец: '+${product.getSeller()}"></p>
    <p th:text="'Категория: '+${product.getCategory().getName()}"></p>
    <div class="image">
        <div th:each="img : ${product.getImageList()}">
            <img th:src="'/img/'+${img.getFileName()}">
        </div>
    </div>
    <a class="add" th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить товар в корзину</a>
</div>



</body>
</html>