<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link th:href="@{/css/product.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<h1> Личный кабинет: </h1>
<div class="button">
    <form method="get" th:action="@{/orders}">
        <input type="submit" value="Заказы"/>
    </form>

    <form method="get" th:action="@{/cart}">
        <input type="submit" value="Корзина товаров">
    </form>

    <form method="post" action="/logout">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="submit" value="Выйти из личного кабинета">
    </form>
</div>
<h3> Сортировка, поиск, фильтрация </h3>
<form th:method="POST" th:action="@{/person_account/product/search}">
    <fieldset>
        <legend>Выберите параметр для сортировки, поиска, фильтрации:</legend>
        <label for="search">Поиск по наименованию</label>
        <input type="text" id="search" name="search" th:value="*{value_search}">
        <p>Фильтр стоймости товара, Р</p>
        <div class="form-group">
            <label for="ot">От:</label>
            <input type="text" name="ot" id="ot" th:value="*{value_price_ot}">
            <label for="Do">До:</label>
            <input type="text" name="Do" id="Do" th:value="*{value_price_Do}">
        </div>
        <div>

            <div class="btn-group">
                <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
                <label for="ascending_price">Отсортировать по возрастанию цены</label>
                <input type="radio" id="descending_price" name="price" value="sorted_by_descending_price">
                <label for="descending_price">Отсортировать по убыванию цены</label>
            </div>
            <p>Категория товаров: </p>
            <div class="btn-group">
                <input type="radio" id="furniture" name="contract" value="furniture">
                <label for="furniture">Мебель</label>
                <input type="radio" id="appliances" name="contract" value="appliances">
                <label for="appliances">Бытовая техника</label>
                <input type="radio" id="clothes" name="contract" value="clothes">
                <label for="clothes">Одежда</label>
            </div>
            <input type="submit" value="Найти">
        </div>
    </fieldset>
</form>

<hr>
<h3>Результат поиска, сортировки и фильтрации</h3>
<div th:each="product : ${search_product}" class="productSearch">
    <img th:src="'/img/' +${product.imageList[0].getFileName()}">
    <a th:href="@{/product/info/{id}(id=${product.getId()})}" class="Green">
        <h4 th:text="${product.getTitle()}"></h4>
        <p th:text="'Цена: ' +${product.getPrice()}"></p>
    </a>
    <a class="add" th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить товар в корзину</a>
</div>
<hr>
<h3> Доступные товары: </h3>
<div class="product-container">
    <div th:each="product : ${products}" class="product">
        <a th:href="@{/product/info/{id}(id=${product.getId()})}" class="productA">
            <img th:src="'/img/' +${product.imageList[0].getFileName()}">
            <h4 th:text="${product.getTitle()}"></h4>
            <p th:text="'Цена: ' +${product.getPrice()}"></p>
        </a>
            <a class="add" th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить товар в корзину</a>
    </div>
</div>
</body>
</html>