<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <link th:href="@{/css/orders.css}" type="text/css" rel="stylesheet"/>

</head>
<body>
<h3>Заказы</h3>
<div class="button">
    <form method="get" th:action="@{/person_account}">
        <input type="submit" value="Личный кабинет"/>
    </form>
    <form method="get" th:action="@{/cart}">
        <input type="submit" value="Корзина товаров"/>
    </form>
</div>
<div class="product-container" >
    <div th:each="order : ${orders}" class="product">
        <h4 th:text="'Заказ №' + ${order.getNumber()}"></h4>
        <img th:src="'/img/' + ${order.getProduct().getImageList()[0].getFileName()}">
        <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}">
        <p th:text="'Количество: ' + ${order.getCount()}">
        <p th:text="'Цена: ' + ${order.getPrice()}">
        <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
        <p th:text="'Cтатус: ' + ${order.getStatus()}">
    </div>
</div>
</body>
</html>