body{
    font-family: Arial, sans-serif;
}
h3{
    text-align: center;
    font-size: 32px;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
}

.product {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
    min-width: 100px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product img {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.product h4 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.product p {
    margin: 5px;
    text-align: center;
}

.productA {
    color: #1c1c1c;
    text-decoration: none;
}
.productA:hover {
    color: #4cad50 ;
    transform: translate(0, 2px);
}
.add{
    display: inline-block;
    padding: 10px 20px;
    background-color: #4cac50;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 40px;
}
.add:hover {
    background-color: #215b25;
    color: #fff;
    transform: translate(0, 2px);
}

.delete{
    display: inline-block;
    padding: 2px 12px;
    background-color: #4cac50;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
}
.delete:hover {
    background-color: #94032a;
    color: #fff;
    transform: translate(0, 2px);
}
.center{
    text-align: center;
}
.button{
    display: flex;
    justify-content: center;
    margin: 5px;
    align-items: center;

}
.button input{
    width: 15em;
    color: white;
    background-color: #4cac50;
    border-radius: 10px;
    box-shadow: 0 0 2px rgb(0 0 0 / 30%);
    cursor: pointer;
    margin: 0 6em 1em 6em;
    border: 1px solid #0000004d;
}
.button input:hover{
    transform: translate(0, 2px);
    background-color: #215b25;
}