<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователях</title>
    <link th:href="@{/css/persons.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<h3>Информация о пользователях </h3>
<div class="button">
    <form method="get" th:action="@{/admin}">
        <input type="submit" value="Личный кабинет">
    </form>
    <form method="get" th:action="@{/admin/order/edit}">
        <input type="submit" value="Просмотр заказов пользователей">
    </form>
    <form method="get" th:action="@{/admin/persons}">
        <input type="submit" value="Посмотреть данные о пользователях">
    </form>
    <form method="post" action="/logout">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="submit" value="Выйти из личного кабинета">
    </form>
</div>
    <div th:each="person : ${persons}" class="persons">
        <div>
            <p th:text="'Id пользоваля : ' + ${person.getId()}"></p>
            <p th:text="'Логин пользователя: ' + ${person.getLogin()}"></p>
            <p th:text="'Роль пользователя: ' + ${person.getRole()}"></p>
        </div>
        <div>
            <a th:href="@{/admin/persons/edit/{id}(id=${person.getId()})}">Редактирование данных пользователя</a><br>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <a th:href="@{/admin/persons/delete/{id}(id=${person.getId()})}">Удаление пользователя</a>
        </div>

</div>
</body>
</html>